@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif !important;
  color: #e7e7e7;
}
nav,
.navcolor,
footer,
#Events,
body {
  background-color: #0b0d12;
}

.main,
.modal-body,
.modal-header,
.modal-footer {
  background-color: #12151c;
}

.quote {
  background-color: #01020a;
}

a {
  text-decoration: none;
  color: inherit;
}

#day,
#hour,
#minute,
#second {
  background-color: #1e2532;
  border-radius: 10px;
}

.detailColor {
  color: #bbcbcb;
}

.timeBreak {
  display: none;
}

.text-container h1 {
  margin: 0;
  font-size: 150px;
  color: rgba(225, 225, 225, 0.01);
  background-image: url("./assets/1132747_OQ3OW80.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 1400px) {
  #Timer,
  #Timer * {
    font-size: 140% !important;
  }
}

@media (max-width: 1300px) {
  #Timer,
  #Timer * {
    font-size: 120% !important;
  }
}

@media (max-width: 768px) {
  .timeBreak {
    display: block;
  }
  #split {
    display: none;
  }
}

@media (max-width: 576px) {
  .text-container h1 {
    font-size: 120px;
  }

  .coverEvent * {
    font-size: 110% !important;
  }
  .mobileSize {
    font-size: 80% !important;
  }
}

@media (max-width: 425px) {
  .text-container h1 {
    font-size: 100px;
  }
}

@media (max-width: 375px) {
  .text-container h1 {
    font-size: 80px;
  }

  .coverEvent * {
    font-size: 100% !important;
  }
}
